############################# ZooKeeper Configuration #############################

# Time in ms between heartbeats
tickTime=2000

# Directory to store snapshots and myid file
dataDir={{ zk_data_dir }}

# Directory to store dedicated transaction logs
dataLogDir={{ zk_log_dir }}

# Port for clients to connect
clientPort={{ zk_port }}

# Number of ticks for initial connection
initLimit=10

# Number of ticks to sync with followers
syncLimit=5

# Disable the per-IP limit on number of connections
# (0 = unlimited, fine for non-production use)
maxClientCnxns=0


############################# ZooKeeper Ensemble Members #############################

# Format: server.<id>=<hostname>:<peerPort>:<electionPort>
{% set unique_zk_hosts = groups['zookeepers'] | sort %}
{% for host in unique_zk_hosts %}
server.{{ loop.index }}={{ hostvars[host]['ansible_host'] }}:2888:3888
{% endfor %}


############################# 4 Letter Word Commands #############################

# Enables specific commands used for health checks and diagnostics
4lw.commands.whitelist=ruok,stat,conf,mntr,cons,dump,srvr,envi,wchs
