############################# Broker Basics #############################

# Unique ID for each broker
broker.id={{ broker_id }}

# Host advertised to clients
advertised.listeners=PLAINTEXT://{{ ansible_host }}:{{ broker_port }}
listeners=PLAINTEXT://{{ inventory_hostname }}:{{ broker_port }}
host.name={{ inventory_hostname }}

# Allow topic deletion via CLI/admin tools
delete.topic.enable=true

# Log (topic data) storage
log.dirs={{ broker_data_dir }}


############################# Topic Defaults #############################

# Default partitions per new topic
num.partitions=8

# Default replication for new topics
default.replication.factor=3

# Minimum in-sync replicas (required to acknowledge writes)
min.insync.replicas=2

# Allow automatic topic creation (usually false in prod)
auto.create.topics.enable=true

# Disallow unsafe leader elections
unclean.leader.election.enable=false


############################# Log Retention #############################

# Retain data for 2 days
log.retention.hours=48

# Max size per log segment (1GB)
log.segment.bytes=1073741824

# Check frequency for log deletion
log.retention.check.interval.ms=300000


############################# Zookeeper #############################

# Zookeeper connection string (with chroot)
zookeeper.connect={% for host in groups['zookeepers'] %}{{ host }}:{{ zk_port }}{% if not loop.last %},{% endif %}{% endfor %}/kafka

# Timeout for ZK connection
zookeeper.connection.timeout.ms=6000


############################# I/O Performance #############################

# Control log flushes (higher = better throughput, less durability)
log.flush.interval.messages=10000
log.flush.interval.ms=1000

# Threads for Kafka I/O and replication
num.io.threads=8
num.network.threads=3
num.replica.fetchers=1
num.recovery.threads.per.data.dir=1

# Max message sizes
message.max.bytes=10485760
replica.fetch.max.bytes=10485760


############################# Consumer Offsets #############################

# Retain consumer group offsets for 2 days
offsets.retention.minutes=2880


############################# Quota Settings #############################

# Throttle producer and consumer throughput per client (10 MB/s)
quota.producer.default=10485760
quota.consumer.default=10485760
