############################# ZooKeeper Configuration #############################

# Time in ms between heartbeats
tickTime=2000

# Directory to store snapshots and myid file
dataDir={{ zk_data_dir }}

# Port for clients to connect
clientPort=2181

# Number of ticks for initial connection
initLimit=10

# Number of ticks to sync with followers
syncLimit=5

# Disable the per-IP limit on number of connections
# (0 = unlimited, fine for non-production use)
maxClientCnxns=0


############################# ZooKeeper Ensemble Members #############################

# Format: server.<id>=<hostname>:<peerPort>:<electionPort>
{% set seen_ips = [] %}
{% set zk_hosts = [] %}
{% for host in groups['zookeepers'] %}
  {% set ip = hostvars[host]['ansible_host'] %}
  {% if ip not in seen_ips %}
    {% set _ = seen_ips.append(ip) %}
    {% set _ = zk_hosts.append({'ip': ip, 'name': host}) %}
  {% endif %}
{% endfor %}

{% for item in zk_hosts %}
server.{{ loop.index }}={{ item.ip }}:2888:3888
{% endfor %}


############################# 4 Letter Word Commands #############################

# Enables specific commands used for health checks and diagnostics
4lw.commands.whitelist=ruok,stat,conf,mntr,cons,dump,srvr,envi,wchs
