# ZooKeeper Configuration

tickTime=2000
dataDir=/var/lib/zookeeper
clientPort=2181
initLimit=5
syncLimit=2

{% for host in groups['zookeepers'] %}
server.{{ groups['zookeepers'].index(host) + 1 }}={{ hostvars[host]['ansible_host'] }}:2888:3888
{% endfor %}
